* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

.navbar {
  background: white;
  height: 3rem;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.nav-items {
  width: 90vw;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 90px 90px;
  place-content: center;
  gap: 0 3rem;
  background: white;
  margin: 0 auto;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
}

.nav-items li {
  place-self: center;
  font-size: 1.15rem;
}

a:hover {
  color: #6ec5f6;
}

.nav-items:first-child {
  color: #6ec5f6;
}

.main {
  height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
  align-content: center;
  background: #f1f5f8;
}

.main-heading {
  text-transform: capitalize;
  letter-spacing: 0.15rem;
  background: black;
  color: white;
  font-size: 2.5rem;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  text-align: center;
}

span {
  color: #6ec5f6;
  letter-spacing: 0.3rem;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background: inherit;
  font-weight: bold;
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  cursor: pointer;
  border: 3px solid black;
}

.btn:hover {
  background-color: black;
  color: white;
  transition: all 0.3s linear;
}
